# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/
.vs/

# Custom

.DS_Store
outputs/
weights/
old/
segmenting_WIP/
temp/
work/
logs/
run_inpainting_runner_temp.sh
run_merging_runner_temp.sh
run_splatting_bm_runner_temp.sh
run_merging_nogui_batch_parallel_temp.sh
run_merging_nogui_batch_temp.sh
merge_worker_0.log
merge_worker_1.log
merge_worker_2.log


config.json
config_depthcrafter.json
config_inpaint.json
config_splat.json
yolo12s.pt
yolo12n.pt
yolo12m.pt
config_auto_conv.json
models/res10_300x300_ssd_iter_140000.caffemodel
models/deploy.prototxt.txt
convergence_tool_config.json
sidecaredit_config.json
config_sidecaredit.json
config_merging.mergecfg
config_splat.splatcfg
nul
AGENTS.md
